.aws-logo {
    font-size: 100px;
}

.text-3 {
    padding-top: 5vh;
}

.text-4 {
    padding-top: 3vh;
}

.paragraph-1 {
    padding: 1vh 1vh 1vh 1.5vh;
    box-shadow: 1px 1px 3px #888888;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.cube-spinner {
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
}

.cube-spinner div {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightblue;
}

.cube-spinner .face1 {
    transform: translateZ(85px);
    color: #dd0031;
}
.cube-spinner .face2 {
    transform: rotateY(90deg) translateZ(85px);
    color: #f06529;
}
.cube-spinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(85px);
    color: #28a4d9;
}
.cube-spinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(85px);
    color: #5ed4f4;
}
.cube-spinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(85px);
    color: #efd81d;
}
.cube-spinner .face6 {
    transform: rotateX(-90deg) translateZ(85px);
    color: #ec4d28;
}

@keyframes spin {
    from, to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}
